@import "breakpoints.scss";

* {
    box-sizing: content-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
}

@media screen and (orientation: landscape) {
    .container {
        flex-direction: row;
        
    }
}
    
.square {
    height: 100px;
    width: 100px;
    margin: 8px;
  
    
    @include extra-small-screen {
        background-color: #ff7f50;
    }

    @include small-screen {
        background-color: #8a2be2;
    }

    @include medium-screen {
        background-color: #a61;
    }

    @include large-screen {
        background-color: #c47;
    }
} 

