* {
    box-sizing: border-box;
  }
  
  .gallery {
    display: flex;
  }
  
  div > div {
    border: 1px dotted grey;
    margin: 16px;
  }
  
  .image {
    background-position: center;
    background-size: contain;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
  }