* {
    box-sizing: border-box;
}

.raw {
    display: flex;
}

i {
    justify-content: space-around;
    margin: 20px;
}

[class="fa fa-battery-full"] {
    font-size: 16px;
    
}

[class="fa fa-battery-three-quarters"] {
    font-size: 32px;
    
}

[class="fa fa-battery-half"] {
    font-size: 64px;
    
}

[class="fa fa-battery-quarter"] {
    font-size: 128px;
    
}

[class="fa fa-battery-empty"] {
    font-size: 256px;
    
}
